


{% block body %}
	
	<div>
		<h3 class="pad-h3">Liste des utilisateurs</h3>
		<div>
			
				<input type="text" id="search" name="search-user">
				<a href="#" data-href={{ path('ht_admin_user')}} data-req="search"  id="search-button"> Recherche </a>
			

		</div>
		<div>

			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>id</th>
						<th>nom</th>
						<th>mail</th>
						<th>shop</th>
						<th>role</th>
						<th>bannir</th>

					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						{# {{dump(user.roles)}} #}
						<td>{{user.id}}</td>
						<td>{{user.username}}</td>
						<td>{{user.mail}}</td>
						<td>{% if user.shop %}<a href="{{ path('ht_main_shop', { 'id' : user.shop.id }) }}">{{user.shop.name}}</a>{% endif %}
						<td>
							{% if (is_granted('ROLE_SUPER_ADMIN')) %}
								<select class="select-role" data-href={{ path('ht_admin_user')}} data-id={{ user.id }}>
									<option value="1" {% if user.roles | length == 1 %} selected {% endif %}>utilisateur</option>
									<option value="2" {% if user.roles | length == 2 %} selected {% endif %}>vendeur </option>
									<option value="3" {% if user.roles | length == 3 %} selected {% endif %}>administrateur</option>
									<option value="4" {% if user.roles | length == 4 %} selected {% endif %}>super-administrateur</option>
								</select>
							{% else %}
								{% if user.roles | length == 4 %}
									super-administrateur
								{% else %}
									<select class="select-role" data-href={{ path('ht_admin_user')}} data-id={{ user.id }}>
										<option value="1" {% if user.roles | length == 1 %} selected {% endif %}>utilisateur</option>
										<option value="2" {% if user.roles | length == 2 %} selected {% endif %}>vendeur </option>
										<option value="3" {% if user.roles | length == 3 %} selected {% endif %}>administrateur</option>
									</select>
								{% endif %}
							{% endif %}

						</td>
						<td> <a href="#" class="ban-button" data-req="ban" data-ban = "{{ user.isBanned  }}" data-href={{ path('ht_admin_user')}} data-id="{{ user.id }}">{% if user.isBanned %} Enlever ban {% else %} Bannir utilisateur {% endif %} </a> </td>
					</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			<h3 class="pad-h3">Liste des shops</h3>
			<div>
				
					<input type="text" id="search-shop" name="searchShop">
					<a href="#" data-href= "{{ path('ht_admin_user')}}" data-req="search-shop"  id="search-button-shop"> Recherche </a>
				

			</div>

			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>id</th>
						<th>nom</th>
						<th>adresse</th>
						<th>user</th>
						<th>bannir</th>
						

					</tr>
				</thead>
				<tbody>
					{% for shop in shops %}
					<tr>
						{# {{dump(user.roles)}} #}
						<td>{{shop.id}}</td>
						<td>{{shop.name}}</td>
						<td>{{shop.adress}}</td>
						<td>{{shop.user.id}}</td>
						
						<td> <a href="#" class="ban-button-shop" data-req="ban-shop" data-ban = "{{ shop.isBanned  }}" data-href={{ path('ht_admin_user')}} data-id="{{ shop.id }}">{% if shop.isBanned %} Enlever ban {% else %} Bannir le shop {% endif %} </a> </td>
					</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>




	</div>
{% endblock %}