{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<!-- jumbotron  -->
<div class="jumbotron jumbotron-fluid p-0 ">
  <div class="bg-darkbanner container d-flex justify-content-center align-items-center">
    <div class="text-white d-flex flex-column align-items-center justify-content-center border">
      <h1 class="">Happy Tea</h1>
      <p class="lead my-3 text-center">Tea for laïfe bro. bisous from da hood man yolo </p>
      <button class="lead col-6 mt-4 btn-outline-info">
        <a class="no-textdecoration" id="scroll" href="#tealist" role="button">voir les thés</a>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">

  {# articles / news #}

  <div class="row">
    <div class="col-8">
      <div class="row div-article animated fadeIn "> 
        <div class="col-4">
          <img class="img-article" src="/happyTea/web/web/img/{{article.picture}}">
        </div>
        <div class="col-8">
          <h3>{{article.title}}</h3>
          <h4>{{article.subtitle}}</h4>
          <p class="text-truncate">{{article.content}}</p>
          <a type="button" class="btn btn-info" href="{{ path('ht_main_blog') }}">Plus d'infos !</a>
        </div>
      </div>
    </div>
  </div>
  {# fin article #}

  <div class="row">
    <div class="col-2 filtercontainer text-center fadeInRightBig animated">
      <div id="filters" class="button-group">
        <button type="button" class="btn btn-success filterbutton" data-filter="*">Tout les thés</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="oir">Thé noir</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="ert">Thé vert</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="lanc">Thé blanc</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="utre">Autre</button>
        <br>
        <br>
        <button class="btn btn-success filterbutton" type="button" data-sort-by="original-order" id="sorts">Tri original</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" id="sorts" data-sort-by="number">Prix</button>
      </div>
    </div>

    <div class="col-8">
      <div class="row grid" id="tealist">
        {% for product in products %}
          <a href="{{path('ht_main_teas', {'id': product.id} )}}" class="simplelink" title="aller sur la page du thé !">
            <div class="col-3 teacontainer element-item" data-category="{{product.category.name}} {{product.price}}">
            <div class="teainformations"> {{product.name}} </div>
            <div class="teasubinformations number">{{product.price}} euros</div>
            <div class="teasubinformations type">{{product.category.name}}</div>
            <br>
            <img src='/happyTea/web/web/img/{{product.picture}}'  class="img-responsive filterimg">
          </div>
        </a>

        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
