{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 filtercontainer">
      <button type="button" class="btn btn-success filterbutton" data-filter="1">Thé noir</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Thé vert</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Thé blanc</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Autre</button>
      <br>
    </div>
    <div class="col-10">
      <div class="row grid">
        {% for product in products %}
        <div class="col-4 teacontainer element-item" data-category="{{product.id}}">
          <div class="filterisotope"> {{product.name}} </div>
          <div class="filterisotope">{{product.price}}</div>
          <br>
          <img src='/happyTea/web/web/img/{{product.picture}}' class="img-responsive">
        </div>
          {{product.category.name}}
        {% endfor %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
