{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 filtercontainer">
      <button type="button" class="btn btn-success filterbutton" data-filter="1">Thé noir</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Thé vert</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Thé blanc</button>
      <br>
      <button type="button" class="btn btn-success filterbutton">Autre</button>
      <br>
    </div>
    <div class="col-10">
      <div class="row grid">
        {% for product in products %}
        <div class="col-2 teacontainer element-item" data-category="{{product.id}}">
          <div class="filterisotope"> {{product.name}} </div>
          <div class="filterisotope">{{product.price}}</div>
          <br>
          <img src='/happyTea/web/web/img/{{product.picture}}' class="img-responsive filterimg">
        </div>
          {{product.category.name}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
