{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}
<div class="container-fluid">
	<div class="row banner shoplist d-flex align-items-center">
		<h1 class="col-12 animated zoomIn">On se cherche un fournisseur?</h1>
	</div>
</div>

<div class="container-fluid shoplist">
  <div class="row">

    <!-- card with shop info -->

    {% for shop in shops %}

      <div class="offset-1 col-10 offset-sm-0 col-sm-6 col-lg-4">
        <h2>{{shop.name}}</h2>
        <div class="card-fixed-height">
          <img src="/happyTea/web/web/img/{{ shop.logo }}" class="img-responsive" alt="">
        </div>
        <div class="card-block">
          <p class="shoplist address">{{shop.adress}}</>
          <p class="shoplist description">
            {{shop.description}}
          </p>
          <a href="../main/shop/{{shop.id}}" class="">voir la boutique</a>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

{% endblock %}
