{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}

<div class="container-fluid">
  <div class="row banner shop d-flex align-items-center">
    <h1 class="col-12 animated zoomIn">Votre magasin, {{shop.name}}</h1>
  </div>
</div>

<div class="container text-center">

  {% if shop.openingTimes.opening is defined or shop.openingTimes.closing is defined %}
  <br>
  {{ shop.openingTimes.opening }} {{ shop.openingTimes.closing }}
  <br>

  {% endif %}

  <a href="{{ path('ht_main_shopPage', {'id' : app.user.shop.id} ) }}" class="simplelink">

    <h3> Aller a la page public du shop !</h3>
    <hr>
    <img src='/happyTea/web/web/img/{{ shop.logo }}' class="shoplogo">

  </a>

  <br>
  <h2>
    <a href="{{path('ht_main_addProduct')}}" class="simplelink ">
      <br>
      Vous voulez ajouter un produit ?
      <br>
      C'est par ici !
    </a>
  </h2>
  <h2>
    <a href="{{path('ht_main_updateShop', {'id' : shop.id })}}" class="simplelink ">
      <br>
      Vous voulez modifier votre shop ?
      <br>
      Suivez-nous !
    </a>
  </h2>
</div>
{% endblock %}
