{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    {% for shop in shops %}
    <div class="col-md-6">
      {{shop.name}}
      <br>
      {{shop.url}}
      <br>
      {{shop.description}}
      <br>
      {{shop.adress}}
      <br>
      {{shop.phone}}
      <br>
      {{ shop.openingTimes }}
      <br>
      {{ shop.logo }}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
