{% extends "HTMainBundle::layout.html.twig" %}
{% block body %}


<div class="container">
  {% if ( shop.isBanned ) %}
    <div class="alert alert-warning">Votre Shop a été banni parce qu'il ne remplissait pas les règles d'utilisations ! Veuillez contacter les administrateurs pour plus d'informations.</div>
  {% else %}
    <div class="row m-2">
      <section class="shoppage d-flex flex-column">
        <h1>La boutique de {{ shop.name }}</h1>

        <!-- description shop -->
        <div class="">
          <p class="shoppage description">{{shop.description}}</p>
        </div>

        <!-- logo shop -->
        <figure class="">
          <img src="{{shop.logo}}" class="img-responsive" alt="">
        </figure>


        <!-- infos contact shop -->
        <div class="row ">
          <div class="col-6 col-md-2 d-flex justify-content-center align-items-center">
            <img class="pr-2" src="{{ asset('img/icons/location.png') }}" alt="">
            <p class="minitext">{{shop.adress}}</p>
          </div>
          <div class="col-6 col-md-2 d-flex justify-content-center align-items-center">
            <img class="pr-2" src="{{ asset('img/icons/phone.png') }}" alt="">
            <p class="minitext">{{shop.phone}}</p>
          </div>
          <div class="col-12 col-md-2 d-flex justify-content-center align-items-center my-3">
            <img class="pr-2" src="{{ asset('img/icons/link.png') }}" alt="">
            <a href="{{shop.url}}" class="minitext">voir le site</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section class="container-fluid shoppage my-4">

    <h2>Les Thés de la Boutique {{shop.name}}</h2>

    <!-- les produits du shop -->
    <div class="row my-5">

      <div class="col-6 col-md-4">
        <h4 class="text-center py-2">Earl Grey</h4>
        <img src="https://www.graphicpear.com/wp-content/uploads/2017/10/6-1.jpg"  class="img-responsive card-img-top">
        <div class="p-2 d-flex justify-content-around">
          <p class="shoppage-badge">The noir</p>
          <p class="">XX €</p>
        </div>
        <div class="d-flex justify-content-center">
          <a class="center" href="http://localhost:8888/happyTea/web/app_dev.php/main/teas/1">voir ce thé</a>
        </div>

      </div>







    </div>

  </section>

  {{ dump(shop) }}
  {% for shopProduct in shopProducts %}
  {{ shopProduct.name }}
  {% endfor %}
{% endif %}
{% endblock %}
