{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}

<div class="container-fluid">
  <div class="row banner shop d-flex align-items-center">
    <h1 class="col-12 animated zoomIn">Votre magasin, {{shop.name}}</h1>
  </div>
</div>

<div class="container">

  <br>
  {{shop.url}}
  <br>
  {{shop.description}}
  <br>
  {{shop.adress}}
  <br>
  {{shop.phone}}
  {% if shop.openingTimes.opening is defined or shop.openingTimes.closing is defined %}
  <br>
  {{ shop.openingTimes.opening }} {{ shop.openingTimes.closing }}
  <br>
  {% endif %}

  <img src='/happyTea/web/web/img/{{ shop.logo }}' class="shoplogo">
  <br>
  {{ shop.user.username }}
  <br>
  <h2>
    <a href="{{path('ht_main_addProduct')}}">
      Vous voulez ajoutez un produit ?
      <br>
      C'est par ici !
    </a>
  </h2>
</div>
{% endblock %}
