{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}
<div class="container">
  <h2>Shop n°{{ id }}</h2>
  {{shop.name}}
  <br>
  {{shop.url}}
  <br>
  {{shop.description}}
  <br>
  {{shop.adress}}
  <br>
  {{shop.phone}}
  {% if shop.openingTimes.opening is defined or shop.openingTimes.closing is defined %}
  <br>
  {{ shop.openingTimes.opening }} {{ shop.openingTimes.closing }}
  <br>
  {% endif %}
  {{ shop.logo }}
  <br>
  {{ shop.user.username }}
</div>
{% endblock %}
