{% extends "HTMainBundle::layout.html.twig" %}
{% block body %}



  {% if ( shop.isBanned ) %}
    <div class="alert alert-warning">Ce Shop a été banni parce qu'il ne remplissait pas les règles d'utilisations ! Veuillez contacter les administrateurs pour plus d'informations.</div>
  {% else %}

<div class="container py-5">
  <div class="row m-2">
    <!-- Shop details -->
    <section class="col-12 offset-md-1 col-md-10 shoppage d-flex flex-column justify-content-center">

      <!-- logo and name shop -->
      <div class="d-flex align-items-end">
        <figure>
          <img src="{{shop.logo}}" class="img-responsive shoppage-logo" alt="">
        </figure>
        <h1 class="ml-4">La boutique de {{ shop.name }}</h1>
      </div>

      <div class="">

        <!-- description shop -->
      <p class="mt-5 shoppage description">{{shop.description}}</p>

      <!-- infos shop : opening times - phone - site - adress -->
      <div class="row">

        <div class="col-12 my-3 d-flex justify-content-center align-items-center">
          {% if shop.openingTimes.opening is defined and shop.openingTimes.closing is defined %}
            <p class="minitext">
              ouvert en semaine de {{shop.openingTimes.opening}} - {{shop.openingTimes.closing}}
            </p>
          {% endif %}
        </div>

        <div class="col-12">
          <div class="row d-flex">

            <div class="col-6 col-md-4 d-flex justify-content-center align-items-center">
              {% if shop.phone is defined %}
                <img class="pr-2" src="{{ asset('img/icons/phone.png') }}" alt="">
                <p class="minitext">{{shop.phone}}</p>
              {% endif %}
            </div>

            <div class="col-6 col-md-4 d-flex justify-content-center align-items-center my-3">
              {% if shop.phone is defined %}
                <img class="pr-2" src="{{ asset('img/icons/link.png') }}" alt="">
                <a href="{{shop.url}}" class="minitext">le site de la boutique</a>
              {% endif %}
            </div>

            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
              {% if shop.adress is defined %}
                <img class="pr-2" src="{{ asset('img/icons/location.png') }}" alt="">
                <p class="minitext">{{shop.adress}}</p>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
      </div>
      </div>
    </section>

  </div>

<section class="container-fluid shoppage my-5">
  <h2 class="text-center">Les Thés de la Boutique {{shop.name}}</h2>

  <!-- cards with products of shop -->
  <div class="row my-5">
    {% for shopProduct in shopProducts %}
    <div class="col-6 col-md-3 my-2 shoppage otherproducts">
      <a href="{{path('ht_main_teas', {'id': shopProduct.id} )}}" class="no-textdecoration darkgrey">
        <h4 class="text-truncate text-center py-2">{{ shopProduct.name }}</h4>
        <img src="/happyTea/web/web/img/{{ shopProduct.picture }}"  class="img-responsive card-img-top">
        <div class="p-2 d-flex justify-content-around">
          {% if shopProduct.category.name == "Thé vert"  %}
            <p class="shoppage-badge bg-turquoise">{{ shopProduct.category.name }} </p>
            {% elseif shopProduct.category.name == "Thé noir" %}
            <p class="shoppage-badge bg-darkgrey">{{ shopProduct.category.name }} </p>
            {% elseif shopProduct.category.name == "Thé blanc" %}
            <p class="shoppage-badge bg-orange">{{ shopProduct.category.name }} </p>
            {% else %}
            <p class="shoppage-badge bg-autumn">{{ shopProduct.category.name }} </p>
          {% endif %}
          <h5>{{ shopProduct.price }} €</h5>
        </div>
        <div class="d-flex justify-content-center">
          <p>voir ce thé</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
{% endblock %}
