{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<!-- header page : banner with page title -->

<div class="container-fluid">
	<div class="row banner team d-flex align-items-center">
		<h1 class="col-12">Meet the Happy Team !</h1>
	</div>
</div>

<!-- team presentation : cards x4  -->

<div class="container my-5">

	<div class="row d-flex justify-content-around">

		<div class="card col-12 col-md-5 mb-5 team">
	    <div class="card-block d-flex flex-column justify-content-center">
	      <h2 class="card-title autumn">Claire Donut</h2>
				<p class="grey text-center">Unicorn's integrator</p>
				<img src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
	      <p class="card-text py-5">
					Née sous un "Double Rainbow", Claire à voulu voir le monde à travers ses grands yeux. Après quelques errances, du Japon à l'Irlande, elle décide de revenir là ou l'avenir l'attends: à Lille. Perdue dans les méandes du Webmarketing, elle décide alors de mettre ses pouvoirs de licorne au service de l'intégration web. Grande connaisseuse de thés, elle ne perds pas l'occasion d'écouthé les bons conseils des autres connaisseurs !
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Fruits rouges</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://github.com/clairedonut" class="card-text">Claire est sur git !</a>
					</div>
				</div>
	    </div>
	  </div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">Monsieur Carpe</h2>
				<p class="grey text-center">GIF commander</p>
				<img src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
				<p class="card-text py-5">
					Il est beau, il est grand, il est fort et il s'occupe des biographies de l'équipe, c'est Monsieur Carpe. Regrettant amérement le jour où il a balancé "bah on peut faire un truc sur le thé car on boit du thé lol hein jsais pas", il vit aujourd'hui avec le poids de cette phrase sur ses épaules. Incapable de vivre sans intégrer des images de Jean pierre Coffe partout, Monsieur Carpe est spécial, mais sympathique.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Jardin secret</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://twitter.com/alextezouh" class="card-text">@alextezouh</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">Mister Tea</h2>
				<p class="grey text-center">Software Ninjaneer</p>
				<img src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
				<p class="card-text py-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in fringilla nunc, sit amet ullamcorper quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec tortor turpis. Donec pretium cursus congue. Nam egestas velit nec elit posuere tincidunt. Aliquam ac ornare urna. Quisque pellentesque maximus turpis, ut tempor mi venenatis non. Nullam ut efficitur ante, in posuere leo.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Earl Grey</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="twitter.com" class="card-text">@mistertea</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">Mister Tea</h2>
				<p class="grey text-center">Software Ninjaneer</p>
				<img src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
				<p class="card-text py-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in fringilla nunc, sit amet ullamcorper quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec tortor turpis. Donec pretium cursus congue. Nam egestas velit nec elit posuere tincidunt. Aliquam ac ornare urna. Quisque pellentesque maximus turpis, ut tempor mi venenatis non. Nullam ut efficitur ante, in posuere leo.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Earl Grey</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="twitter.com" class="card-text">@mistertea</a>
					</div>
				</div>
			</div>
		</div>

	</div>






</div>







{% endblock %}
