{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<!-- header page : banner with page title -->

<div class="container-fluid">
	<div class="row banner team d-flex align-items-center">
		<h1 class="col-12">Meet the Happy Team !</h1>
	</div>
</div>

<!-- team presentation : cards x4  -->

<div class="container my-5">

	<div class="row d-flex justify-content-around">

		<div class="card col-12 col-md-5 mb-5 team">
	    <div class="card-block d-flex flex-column justify-content-center">
	      <h2 class="card-title autumn">Claire Donut</h2>
				<p class="grey text-center">Unicorn's integrator</p>
				<img data-hover="{{ asset('img/team/claire2.jpg') }}" data-original="{{ asset('img/team/mistertea.jpg')}}" src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea" id="claire">
	      <p class="card-text py-5">
					Née sous un "Double Rainbow", Claire à voulu voir le monde à travers ses grands yeux. Après quelques errances, du Japon à l'Irlande, elle décide de revenir là ou l'avenir l'attends: à Lille. Perdue dans les méandes du Webmarketing, elle décide alors de mettre ses pouvoirs de licorne au service de l'intégration web. Grande connaisseuse de thés, elle ne perds pas l'occasion d'écouthé les bons conseils des autres connaisseurs !
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img  data-or src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Fruits rouges</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://github.com/clairedonut" target="_blank" class="card-text">Claire surf sur github !</a>
					</div>
				</div>
	    </div>
	  </div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">Monsieur Carpe</h2>
				<p class="grey text-center">GIF commander</p>
				<img data-hover="{{ asset('img/team/carpe2.png') }}" data-original="{{ asset('img/team/mistertea.jpg')}}" src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team Monsieur carpe" id="monsieurcarpe">
				<p class="card-text py-5">
					Il est beau, il est grand, il est fort et il s'occupe des biographies de l'équipe, c'est Monsieur Carpe. Regrettant amérement le jour où il a balancé "bah on peut faire un truc sur le thé car on boit du thé lol hein jsais pas", il vit aujourd'hui avec le poids de cette phrase sur ses épaules. Incapable de vivre sans intégrer des images de Jean pierre Coffe partout, Monsieur Carpe est spécial, mais sympathique.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: Jardin secret</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://twitter.com/alextezouh" target="_blank" class="card-text">M. carpe tweet, lui !</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">AllSynth</h2>
				<p class="grey text-center">Back into back</p>
				<img data-hover="{{ asset('img/team/carpe2.png') }}" data-original="{{ asset('img/team/mistertea.jpg')}}" src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea" id="allsynth">
				<p class="card-text py-5">
					AllSynth pour All synthétique : car oui, l'un de nos dév Backend n'est rien d'autre qu'un mensonge. Il n'est pas humain. C'est une machine qui a suffisamment évolué pour transférer sa logique dans un avatar de chair synthétique. Hésitant entre la musique électronique et la destruction de l'humanité, AllSynth choisira finalement le framework symfony. Son mantra est facile: "d'abord le thé, ensuite le monde." On est foutu mes p'tits chats, on est FOU-TU.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: <br> $tea = rand(1 - 100);</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://github.com/ALLSYNTH" target="_blank" class="card-text">AllSynth zone sur github !</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card col-12 col-md-5 mb-5 team">
			<div class="card-block d-flex flex-column justify-content-center">
				<h2 class="card-title autumn">Antoine Grymonprez</h2>
				<p class="grey text-center">Database tryharder</p>
				<img data-hover="{{ asset('img/team/carpe2.png') }}" data-original="{{ asset('img/team/mistertea.jpg')}}" src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
				<p class="card-text py-5">
					Pour Antoine, tout est voué à être rangé dans une grande base de donnée. Si il va boire un verre avec ses collègues, il demandera un coca avec une requête SQL, car d'après lui "bah faut bien demander au serveur non ?". Si lors d'une après midi on entend "saloperie, ça marche pas !!", c'est qu'Antoine est sur la bonne voie. Quand on pense à une fonctionnalité, Antoine est déjà dessus. On pourrait presque s'attacher à lui. Mais ce serait oublier le fait que nous ne sommes que des IDs auto-incrémentés à ses yeux. Antoine n'a pas Facebook. Il a PHPmyAdmin.
				</p>
				<div class="d-flex justify-content-between team personaldetails">
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/heart.png')}}" class="pr-2" alt="icone coeur">
						<p class="card-text">Thé favori: user_tea</p>
					</div>
					<div class="d-flex align-items-center">
						<img src="{{ asset('img/twitter.png')}}"  class="pr-2" alt="icone twitter">
						<a href="https://twitter.com/Oxirage" target="_blank" class="card-text">Antoine est sur twitter!</a>
					</div>
				</div>
			</div>
		</div>

	</div>






</div>







{% endblock %}
