{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
<div class="container teas">
  	{% if success %}
	    <div class="alert alert-success">{{ success }}  </div>
	  {% endif %}
	  {% if error.length is defined %}
	    <div class="alert alert-danger"> {{ error.length }} </div>
	  {% endif %}

	<!-- product details -->
	<section class="row my-5 teas d-flex flex-column align-items-center">
		<h1>{{ product.name }}</h1>
		<h4>Les Thés de la boutique {{ product.shop.name }} </h4>
	</section>

	<!-- product image -->
	<section class="row d-flex teas">
		<figure class="col-12 col-md-6">
			<img src="/happyTea/web/web/img/{{product.picture}}" class="img-responsive" alt="">
		</figure>

		<div class="col-12 offset-md-1 col-md-5">

			<!-- category info -->
			<div class="d-flex align-items-baseline justify-content-left">
				<h4 class="pr-2">Categorie:</h4>
				{% if product.category.name == "Thé vert"  %}
					<p class="shoppage-badge bg-turquoise">{{ product.category.name }} </p>
					{% elseif product.category.name == "Thé noir" %}
					<p class="shoppage-badge bg-darkgrey">{{ product.category.name }} </p>
					{% elseif product.category.name == "Thé blanc" %}
					<p class="shoppage-badge bg-orange">{{ product.category.name }} </p>
					{% else %}
					<p class="shoppage-badge bg-autumn">{{ product.category.name }} </p>
				{% endif %}

			</div>

			<!-- description text -->
			<h4>description</h4>
			<p>{{ product.description }}</p>

			<!-- rating info -->
			<div class="d-flex flex-md-column">
				<div class="col-6 col-md-12 d-flex align-items-baseline  my-3">
					<img class="pr-2" src="{{ asset('img/icons/love-avis.png') }}" alt="">
					<h4 class="teas info">Note générale: XX </h4>
				</div>
			{# 	rating user #}
				<div class= "rating-star" data-href="{{path('ht_ajax_rate')}}" data-req="rate" data-id="{{product.id}}" > 
			  <i class="fa fa-star" data-rate="1" aria-hidden="true"></i>
			  <i class="fa fa-star" data-rate="2"  aria-hidden="true"></i>
			  <i class="fa fa-star" data-rate="3"  aria-hidden="true"></i>
			  <i class="fa fa-star" data-rate="4"  aria-hidden="true"></i>
			  <i class="fa fa-star" data-rate="5"  aria-hidden="true"></i>
			  	</div>

				<!-- price info -->
				<div class="col-6 col-md-12 d-flex align-items-baseline my-3">
					<img class="pr-2" src="{{ asset('img/icons/price.png') }}" alt="">
					<h4 class="teas info">A partir de: {{ product.price }} €</h4>
				</div>
			</div>

			<!-- general tea info -->
			<aside class="row d-flex my-3">
				<div class="col-12">
					<h4>Savourer ce thé</h4>
				</div>

        {% if product.category.name == "Thé vert" %}
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">3 à 5 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">74°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">Matin</p>
				</div>
        {% elseif product.category.name == "Thé noir" %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">3 à 5 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">95°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">après-midi</p>
				</div>
        {% elseif product.category.name == "Thé blanc" %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">7 à 10 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">80°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">Soir</p>
				</div>
        {% else %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">0.5'</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">1000°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">toujours pas</p>
				</div>
        {% endif %}


			</aside>

			<button id="redirect-shop"  data-target="{{ product.shop.url }}" type="button" class="btn btn-lg btn-block">Aller sur site du Shop</button>
      {% if false == is_granted('IS_AUTHENTICATED_FULLY') %}
      <div class="alert alert-info">Vous devez être connecter pour pouvoir ajouter aux favoris.</div>
      {% elseif true == user.isBanned %}
      <div class="alert alert-danger">Vous avez été banni et n'êtes plus autorisé à ajouter aux favoris.</div>
      {% elseif product not in favs %}
      <button id="fav" class="btn btn-lg btn-block fav" type="button" data-path="{{ path('ht_main_fav') }}" data-id="{{ product.id }}">Ajouter aux favoris</button>
      {% else %}
      <button id="notfav" class="btn btn-lg btn-block supfav" type="button" data-path="{{ path('ht_main_fav') }}" data-id="{{ product.id }}">Supprimer des favoris</button>
      {% endif %}


		</div>
	</section>


</div>

<div class="container-fluid teas">


	<!-- product nav : shop / other teas / comments -->
	<div class="teas menu pt-5 mt-3 offset-1">
		<a class="no-textdecoration" href="#shop">La Boutique</a>
		<a class="no-textdecoration" href="#products">Thés de la Boutique</a>
		<a class="no-textdecoration" href="#comments">Avis & conseils de la communaut(h)é</a>
	</div>

	<!-- product section : shop -->
	<section  id="shop" class="my-5">

		<h2>La boutique</h2>


		<div class="row my-5">
			<figure class="col-12 offset-md-1 col-md-4">
				<img class="img-responsive" src="{{ product.shop.logo }} " alt="">
			</figure>

			<div class="col-12 offset-md-1 col-md-6">
				<h3>{{ product.shop.name }} </h3>
				<p class="info-chart">{{ product.shop.description }}</p>
				<a href="../shopPage/{{ product.shop.id }} ">plus d'infos sur la page de la boutique</a>
			</div>

		</div>

	</section>

	<!-- product section : display products teas -->

	<section  id="products" class="row my-5 bg-clearblue p-5">

		<h2 class="darkgrey col-12">Thés de la boutique</h2>

		<!-- display teas from similar categories // a mettre a jour plus tard avec for each + nommage twig-->

		<div class="teas otherproducts d-flex my-2">

      {% for product in products %}
      <div class="col-6 col-md-4 col-lg-3">
				<a class="no-textdecoration" href="{{path('ht_main_teas', {'id': product.id} )}}">
        <h4 class="text-center py-2">{{ product.name }}</h4>
        <img src="/happyTea/web/web/img/{{product.picture}}"  class="img-responsive card-img-top">
        <div class="p-2 d-flex justify-content-around">
					{% if product.category.name == "Thé vert"  %}
	          <p class="shoppage-badge bg-turquoise">{{ product.category.name }} </p>
	          {% elseif product.category.name == "Thé noir" %}
	          <p class="shoppage-badge bg-darkgrey">{{ product.category.name }} </p>
	          {% elseif product.category.name == "Thé blanc" %}
	          <p class="shoppage-badge bg-orange">{{ product.category.name }} </p>
	          {% else %}
	          <p class="shoppage-badge bg-autumn">{{ product.category.name }} </p>
	        {% endif %}
					<p class="">{{ product.price }} €</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>voir ce thé</p>
        </div>
				</a>
      </div>
      {% endfor %}

		</div>

	</section>

	<!-- comments area -->

	<section  id="comments" class="row my-5 p-5 d-flex flex-column align-items-center">
		<h2>Les avis sur le thé {{ product.name }}</h2>
    {% if false == is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="alert alert-info">Vous devez être connecter pour pouvoir poster un commentaire</div>
    {% elseif true == user.isBanned %}
    <div class="alert alert-danger">Vous avez été banni et n'êtes plus autorisé à poster des commentaires.</div>
    {% else %}

	  	{% if success %}
		    <div class="alert alert-success">{{ success }}  </div>
		{% endif %}
		{% if error.length is defined %}
		   <div class="alert alert-danger"> {{ error.length }} </div>
		{% endif %}

		<form method="post" class="my-5 col-12" action="">
			<textarea name="content" placeholder="Votre commentaire ici..." rows="5" ></textarea>
			<br>
			<input class="btn btn-info" type="submit" value="Commenter">
		</form>
    {% endif %}

	</section>

<section class="row">
  <div class="offset-1 col-10 offset-lg-3 col-lg-6">
    {% for comment in comments %}
    <div class="my-5">
      <div class="d-flex justify-content-between">
        <h6>{{ comment.user.username }}</h6>
        <h4>{{ comment.publishedAt.date | date('d-m-Y | H:i') }}</h4>
      </div>
      <p class="article-content">{{ comment.content }}</p>
    </div>
    {% endfor %}
  </div>
</section>


</div>

{% endblock %}
