{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<div class="container teas">
	<!-- {{ dump(comments) }} -->

	<section class="row my-5 teas d-flex flex-column align-items-center">
		<h1>{{ product.name }}</h1>
		<p class="teas badge-category">{{ product.category.name }}</p>
	</section>

	<section class="row d-flex teas">
		<figure class="col-12 col-md-6">
			<img src="https://www.luneethe.com/64-large_default/ceylan-saint-james.jpg" class="img-responsive" alt="">
		</figure>

		<div class="col-12 offset-md-1 col-md-5">
			<p>{{ product.description }}</p>
			<p>Avis: </p>
			<p>Prix: {{ product.price }}</p>

			<!-- redirection to shop -->
			<!-- <button href="{{ product.shop.url }}" type="button" class="btn bg-success btn-lg btn-block text-white">Aller sur site du Shop</button> -->

			<button id="redirect-shop"  data-target="{{ product.shop.url }}" type="button" class="btn btn-lg btn-block">Aller sur site du Shop</button>

		</div>
	</section>

	<!-- product nav : description / shop  -->



	<ul>
		<li></li>
		<li>{{ product.shop.name }}</li>
		<li>{{ product.shop.url }}</li>
	</ul>


	<!-- comments area -->

	<form method="post" action="">
		<textarea name="content" placeholder="Votre commentaire ici..." rows="5" cols="40"></textarea>
		<br>
		<input type="submit" value="Commenter">
	</form>

	{% for comment in comments %}
		<h6>{{ comment.user.username }}</h6>
		<p>{{ comment.publishedAt.date | date('d-m-Y | H:i') }}</p>
		<p>{{ comment.content }}</p>
	{% endfor %}
</div>
{% endblock %}
