{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
<div class="container">

	{% if success %}
	<div class="alert alert-success">{{ success }}  </div>
	{% endif %}
	{% if error.length is defined %}
	<div class="alert alert-danger"> {{ error.length }} </div>
	{% endif %}

		<h2>Page du thé n° {{id}}</h2>
	<ul>
		<li>{{ product.name }}</li>
		<li>{{ product.description }}</li>
		<li>{{ product.price }}</li>
		<li>{{ product.picture }}</li>
		<li>{{ product.shop.name }}</li>
		<li>{{ product.shop.url }}</li>
	</ul>


	<form method="post" action="">
		<textarea name="content" placeholder="Votre commentaire ici..." rows="5" cols="40"></textarea>
		<br>
		<input type="submit" value="Commenter">
	</form>

	{% for comment in comments %}
		<h6>{{ comment.user.username }}</h6>
		<p>{{ comment.publishedAt.date | date('d-m-Y | H:i') }}</p>
		<p>{{ comment.content }}</p>
	{% endfor %}
</div>
{% endblock %}
