{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
<div class="container teas">
  	{% if success %}
	    <div class="alert alert-success">{{ success }}  </div>
	  {% endif %}
	  {% if error.length is defined %}
	    <div class="alert alert-danger"> {{ error.length }} </div>
	  {% endif %}

	<!-- product details -->
	<section class="row my-5 teas d-flex flex-column align-items-center">
		<h1>{{ product.name }}</h1>
		<h4>Les Thés de la boutique {{ product.shop.name }} </h4>

	</section>

	<!-- product image -->
	<section class="row d-flex teas">
		<figure class="col-12 col-md-6">
			<img src="{{ product.picture }}" class="img-responsive" alt="">
		</figure>

		<div class="col-12 offset-md-1 col-md-5">

			<!-- category info -->
			<div class="d-flex align-items-baseline justify-content-left">
				<h4>Categorie:</h4>
				<p class="ml-2 teas badge-category">{{ product.category.name }}</p>
			</div>

			<!-- description text -->
			<h4>description</h4>
			<p>{{ product.description }}</p>

			<!-- rating info -->
			<div class="d-flex flex-md-column">
				<div class="col-6 col-md-12 d-flex align-items-baseline  my-3">
					<img class="pr-2" src="{{ asset('img/icons/love-avis.png') }}" alt="">
					<h4 class="teas info">Note générale: XX </h4>
				</div>

				<!-- price info -->
				<div class="col-6 col-md-12 d-flex align-items-baseline my-3">
					<img class="pr-2" src="{{ asset('img/icons/price.png') }}" alt="">
					<h4 class="teas info">A partir de: {{ product.price }} €</h4>
				</div>
			</div>

			<!-- general tea info -->
			<aside class="row d-flex my-3">
				<div class="col-12">
					<h4>Savourer ce thé</h4>
				</div>

        {% if product.category.name == "Thé vert" %}
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">3 à 5 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">74°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">Matin</p>
				</div>
        {% elseif product.category.name == "Thé noir" %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">3 à 5 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">95°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">après-midi</p>
				</div>
        {% elseif product.category.name == "Thé blanc" %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">7 à 10 min</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">80°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">Soir</p>
				</div>
        {% else %}
        <div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/time.png') }}" alt="">
					<h4>Temps pour infusion</h4>
					<p class="info-chart">0.5'</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/thermometer.png') }}" alt="">
					<h4>Température d'infusion</h4>
					<p class="info-chart">1000°C</p>
				</div>
				<div class="col-4 text-center">
					<img class="pb-3" src="{{ asset('img/icons/teacup.png') }}" alt="">
					<h4>Moment de la journée</h4>
					<p class="info-chart">toujours pas</p>
				</div>
        {% endif %}


			</aside>

			<button id="redirect-shop"  data-target="{{ product.shop.url }}" type="button" class="btn btn-lg btn-block">Aller sur site du Shop</button>
      {% if false == is_granted('IS_AUTHENTICATED_FULLY') %}
      <div class="alert alert-info">Vous devez être connecter pour pouvoir ajouter aux favoris.</div>
      {% elseif true == user.isBanned %}
      <div class="alert alert-danger">Vous avez été banni et n'êtes plus autorisé à ajouter aux favoris.</div>
      {% elseif product not in favs %}
      <button class="btn btn-lg btn-block fav" type="button" data-path="{{ path('ht_main_fav') }}" data-id="{{ product.id }}">Ajouter aux favoris</button>
      {% else %}
      <button class="btn btn-lg btn-block supfav" type="button" data-path="{{ path('ht_main_removeFav') }}" data-id="{{ product.id }}">Supprimer des favoris</button>
      {% endif %}


		</div>
	</section>


</div>

<div class="container-fluid teas">


	<!-- product nav : shop / other teas / comments -->
	<div class="teas menu pt-5 mt-3 offset-1">
		<a class="no-textdecoration" href="#shop">La Boutique</a>
		<a class="no-textdecoration" href="#products">Thés de la Boutique</a>
		<a class="no-textdecoration" href="#comments">Avis & conseils de la communaut(h)é</a>
	</div>

	<!-- product section : shop -->
	<section  id="shop" class="my-5">

		<h2>La boutique</h2>

		<div class="row my-5">
			<figure class="col-12 offset-md-1 col-md-4">
				<img class="img-responsive" src="https://i.pinimg.com/736x/91/b2/a1/91b2a15dbe78b38d6b5885d4a1a86b2e--afternoon-tea-drinking-tea.jpg" alt="">
			</figure>

			<div class="col-12 offset-md-1 col-md-6">
				<h3>{{ product.shop.name }} </h3>
				<p class="info-chart">
					Après Mister T. de l’agence tous risques, découvrez maintenant Mister Tea qui vous sert une tasse de thé.
				</p>
				<a href="#">plus d'infos sur la page de la boutique</a>
			</div>

		</div>

	</section>

	<!-- product section : display products teas -->

	<section  id="products" class="row my-5 bg-clearblue p-5">

		<h2 class="darkgrey">Thés de la boutique</h2>

		<!-- display teas from similar categories // a mettre a jour plus tard avec for each + nommage twig-->

		<div class="teas otherproducts d-flex">
			<div class="col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>
			<div class="offset-1 col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>
			<div class="offset-1 col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>
			<div class="offset-1 col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>
			<div class="offset-1 col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>
			<div class="offset-1 col-10 col-md-3 d-flex flex-column align-items-center my-5">
				<figure class="flex-column align-items-center">
					<img src="{{ product.picture }}" class="img-responsive" alt="">
				</figure>
				<p class="text-truncate">{{ product.name }}</p>
				<a href="../web/app_dev.php/main/teas/{{ product.id }}" >voir thé</a>
			</div>

		</div>

	</section>

	<!-- comments area -->

	<section  id="comments" class="row my-5 p-5 d-flex flex-column align-items-center">
		<h2>Les avis sur le thé {{ product.name }}</h2>
    {% if false == is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="alert alert-info">Vous devez être connecter pour pouvoir poster un commentaire</div>
    {% elseif true == user.isBanned %}
    <div class="alert alert-danger">Vous avez été banni et n'êtes plus autorisé à poster des commentaires.</div>
    {% else %}
		<form method="post" class="my-5 col-12" action="">
			<textarea name="content" placeholder="Votre commentaire ici..." rows="5" ></textarea>
			<br>
			<input class="btn btn-info" type="submit" value="Commenter">
		</form>
    {% endif %}

		<div class="d-flex flex-column align-items-center">
			{% for comment in comments %}
			<div class="my-2 col-10 col-lg-6">
				<div class="d-flex justify-content-between">
					<h6>{{ comment.user.username }}</h6>
					<h4>{{ comment.publishedAt.date | date('d-m-Y | H:i') }}</h4>
				</div>
				<p>{{ comment.content }}</p>
			</div>
			{% endfor %}
		</div>

	</section>

</div>

{# Exemple boucle twig foreach #}

{# Ici, on ouvre la boucle twig,
on demande a parcourir tout les produit (product),
dans le tableau qui contient les produits (products).
à l'intérieur de cette boucle on demandera certaines informations. #}

{% for product in products %}
<div>

	{# Dans cette boucle je vais demander des infos, ce sera toujours écrit ainsi:
	nomdelatable.nomduchamp #}

  {{product.name}} {# Ici le nom #}
  {{product.price}} euros {# ici le prix, j'ai ajouté "euros" pour être précis #}
  {{product.category.name}} {# ici la catégorie, ou type du thé #}
  <img src='/happyTea/web/web/img/{{product.picture}}'>
{#
  Pour l'image c'est un poil plus complexe, je t'explique.
  Avec {{product.picture}}, je vais récupérer le nom de l'image qui est dans notre projet symfony.
  La fonction "path()" de twig, pour cherche l'image, ne fonctionnait pas, donc j'ai fait autrement.
  Attention cependant, je suis pas sur que ce soit la bonne solution, on verra ça lundi ou mardi.

  Je met le chemin en dur vers le dossier ou sont stocké les images uploadés par les vendeurs,
  soit: /happyTea/web/web/img/
  Dans le dossier img, se trouve l'image du produits.
  Pour qu'elle soit bien trouvé, j'ajoute juste la commande twig {{product.picture}}
  Ainsi, je récupère le nom de l'image du produit actuellement parcouru par le tableau. #}

  <br> <br>
</div>
{% endfor %} {# On ferme la condition #}

{% endblock %}
