{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
<div class="container">
		<h2>Page du thé n° {{id}}</h2>
	<ul>
		<li>{{ product.name }}</li>
		<li>{{ product.description }}</li>
		<li>{{ product.price }}</li>
		<li>{{ product.picture }}</li>
		<li>{{ product.shop.name }}</li>
		<li>{{ product.shop.url }}</li>
	</ul>

	<form method="post" action="">
		<textarea name="content" placeholder="Votre commentaire ici..." rows="5" cols="40"></textarea>
		<br>
		<input type="submit" value="Commenter">
	</form>
</div>
{% endblock %}
