{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}


<div class="container teas">

  	{% if success %}
	    <div class="alert alert-success">{{ success }}  </div>
	  {% endif %}
	  {% if error.length is defined %}
	    <div class="alert alert-danger"> {{ error.length }} </div>
	  {% endif %}
 
	<section class="row my-5 teas d-flex flex-column align-items-center">
		<h1>{{ product.name }}</h1>
		<p class="teas badge-category">{{ product.category.name }}</p>
	</section>

	<section class="row d-flex teas">
		<figure class="col-12 col-md-6">
			<img src="https://www.luneethe.com/64-large_default/ceylan-saint-james.jpg" class="img-responsive" alt="">
		</figure>

		<div class="col-12 offset-md-1 col-md-5">
			<p>{{ product.description }}</p>
			<p>Avis: </p>
			<p>Prix: {{ product.price }}</p>

			<button id="redirect-shop"  data-target="{{ product.shop.url }}" type="button" class="btn btn-lg btn-block">Aller sur site du Shop</button>

		</div>
	</section>

	<!-- product nav : other teas / shop / comments -->
	<div class="teas menu">
		<a class="no-textdecoration" href="#">Thés coups de cœurs</a>
		<a class="no-textdecoration" href="#">Shop</a>
		<a class="no-textdecoration" href="#">Avis</a>
	</div>

	<!-- product section : other teas -->

	<section class="row my-5">

		<h2>Coups de Coeur: {{ product.category.name }} </h2>

			<div class="my-5 offset-2 col-2 d-flex flex-column align-items-center">
				<figure class="flex-column align-items-center">
					<img src="https://www.luneethe.com/64-large_default/ceylan-saint-james.jpg" class="img-responsive" alt="">
					<figcaption>{{ product.name }}</figcaption>
				</figure>

				<button id="redirect-product"  data-target="../web/app_dev.php/main/teas/{{ product.id }}" type="button" class="btn btn-lg btn-block btn-warning">Voir thé</button>
			</div>

	</section>




	<!-- product section : shop -->

	<!-- product section : comments -->

	<ul>
		<li></li>
		<li>{{ product.shop.name }}</li>
		<li>{{ product.shop.url }}</li>
	</ul>

	<!-- comments area -->
  
	<form method="post" action="">
		<textarea name="content" placeholder="Votre commentaire ici..." rows="5" cols="40"></textarea>
		<br>
		<input type="submit" value="Commenter">
	</form>

	{% for comment in comments %}
		<h6>{{ comment.user.username }}</h6>
		<p>{{ comment.publishedAt.date | date('d-m-Y | H:i') }}</p>
		<p>{{ comment.content }}</p>
	{% endfor %}
</div>

{# Exemple boucle twig foreach #}

{# Ici, on ouvre la boucle twig,
on demande a parcourir tout les produit (product), 
dans le tableau qui contient les produits (products).
à l'intérieur de cette boucle on demandera certaines informations. #}

{% for product in products %} 
<div>

	{# Dans cette boucle je vais demander des infos, ce sera toujours écrit ainsi: 
	nomdelatable.nomduchamp #}

  {{product.name}} {# Ici le nom #}
  {{product.price}} euros {# ici le prix, j'ai ajouté "euros" pour être précis #}
  {{product.category.name}} {# ici la catégorie, ou type du thé #} 
  <img src='/happyTea/web/web/img/{{product.picture}}'>
{# 
  Pour l'image c'est un poil plus complexe, je t'explique. 
  Avec {{product.picture}}, je vais récupérer le nom de l'image qui est dans notre projet symfony.
  La fonction "path()" de twig, pour cherche l'image, ne fonctionnait pas, donc j'ai fait autrement.
  Attention cependant, je suis pas sur que ce soit la bonne solution, on verra ça lundi ou mardi.

  Je met le chemin en dur vers le dossier ou sont stocké les images uploadés par les vendeurs,
  soit: /happyTea/web/web/img/
  Dans le dossier img, se trouve l'image du produits. 
  Pour qu'elle soit bien trouvé, j'ajoute juste la commande twig {{product.picture}}
  Ainsi, je récupère le nom de l'image du produit actuellement parcouru par le tableau. #}

  <br> <br>
</div>
{% endfor %} {# On ferme la condition #}

{% endblock %}
