{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}

<div class="container-fluid">
  <div class="row banner user d-flex align-items-center">
    <h1 class="col-12 animated zoomIn">Welcome home, {{user.username}} !</h1>
  </div>
</div>

<div class="container">
  {% if true == app.user.isBanned %}
    <div class="alert alert-danger">
      Vous avez été banni.
    </div>
  {% endif %}

  <ul>
    <li> mon adresse mail : {{ user.mail }}</li>
  </ul>

  <a class="simplelink" href="{% if app.user.shop == null %} {{path('ht_main_addSeller')}} {% else %} {{path( 'ht_main_shop', { 'id' : app.user.shop.id } ) }} {% endif %}"><h3 class="text-center">Shop de {{ user.username }}</h3></a>

     
</div>
{% endblock %}
