{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}

<div class="container-fluid">
  <div class="row banner user d-flex align-items-center">
    <h1 class="col-12 animated zoomIn">Welcome home, <span> {{user.username}} ! </span></h1>
  </div>
</div>

{% if true == is_granted('ROLE_SELLER') %}
<a class="simplelink" href="{% if app.user.shop == null %} {{path('ht_main_addSeller')}} {% else %} {{path( 'ht_main_shop', { 'id' : app.user.shop.id } ) }} {% endif %}"><h3 class="text-center">Allez à mon shop</h3></a>
<hr>
{% endif %}
<br>
{% if success  %}
  <div class="alert-success">{{ success }}</div>
{% endif %}
{% if error %}
  <div class="alert alert-warning"> {{ error }} </div>
{% endif %}
{% if false == is_granted('ROLE_SELLER') %}
  <div class="container">
  <div class="row justify-content-center">
    <div class="text-center col-4" id="clickForSlide"> Vous êtes aussi vendeur ? Faites-vous connaître ! 
    </div>
  </div>
  <div class="row justify-content-center">
    <div class= "form-group col-4" id="slideUser">
      <form action="" method="post">

        <label for="siret"> Numéro de SIRET : </label>
        <input type="text" class="form-control" id="siret" name="siret"/>

        <input type="submit" class="btn btn-primary btn-marg" value="Inscription"/>
      </form>
    </div>
  </div>
</div>
{% endif %}

  <br>

<h2 class="simpletitle text-center">Mes favoris ! </h2>

<br>
<div class="container-fluid">

  <div class="row">
    <div class="col-2 filtercontainerfav text-center fadeInRightBig animated">
      <div id="filters" class="button-group">
        <button type="button" class="btn btn-success filterbutton" data-filter="*">Tout les thés</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="oir">Thé noir</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="ert">Thé vert</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="lanc">Thé blanc</button>
        <br>
        <button type="button" class="btn btn-success filterbutton" data-filter="utre">Autre</button>
        <br>
      </div>
    </div>
    <div class="col-8">
      <div class="row grid">
        {% for userFav in userFavs %}
          <a href="{{path('ht_main_teas', {'id': userFav.id} )}}"class="simplelink">
            <div class="col-3 teacontainer element-item" data-category="{{userFav.category.name}}">
            <div class="teainformations"> {{userFav.name}} </div>
            <div class="teasubinformations">{{userFav.price}} euros</div>
            <div class="teasubinformations type">{{userFav.category.name}}</div>
            <br>
            <img src='/happyTea/web/web/img/{{userFav.picture}}' class="img-responsive filterimg">
          </div>
        </a>
          
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
