{% extends "HTMainBundle::layout.html.twig" %}

{% block body %}
<div class="container">
  <h2>Page de l'utilisateur n°{{ id }}</h2>
  <ul>
    <li>{{ user.username }}</li>
    <li>{{ user.mail }}</li>
    {% if user.siret is defined %}
    <li>{{ user.siret }}</li>
    {% endif %}
  </ul>
  <h3>Shop de {{ user.username }}</h3>

    {% if userShop.logo is defined %}
    <ul>
      <li>{{ userShop.name }}</li>
      <li>{{ userShop.logo }}</li>

      <li>{{ userShop.adress }}</li>
      <li>{{ userShop.url }}</li>
    </ul>
      {% endif %}
     
</div>
{% endblock %}
