<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css')}}">
		<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
	</head>
	<body>
		<header id="top">
			<!-- bootstrap navbar -->
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded col-12">

				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			  	<div class="container">

					<!-- branding logo -->
					<a class="navbar-brand align-items-center" href="{{ path('ht_main_homepage')}}">
						<img src="{{ asset('img/logo.png') }}" class="mainlogo animated flip">
					</a>

					<div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
				  	<!-- <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->

						<!-- nav menu : home - equipe - contact -->
						<ul class="navbar-nav">

							<li class="nav-item  {%if app.request.attributes.get('_route') == 'ht_main_homepage' %} active {% endif %}">
								<a class="nav-link" href="{{ path('ht_main_homepage')}}">Home</a>
							</li>

						 	<li class="nav-item dropdown {%if app.request.attributes.get('_route') == 'register' or  app.request.attributes.get('_route') == 'register_seller' %} active {% endif %}">
				        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          			A propos
				        		</a>
				        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          			<a class="dropdown-item" href="{{ path('ht_main_team') }}">L'équipe</a>
				          			<a class="dropdown-item" href="{{ path('ht_main_blog') }}">Le blog</a>
				        		</div>
				      		</li>

				      		<li class="nav-item  {%if app.request.attributes.get('_route') == 'ht_main_contact' %} active {% endif %}">
				        		<a class="nav-link" href="{{ path('ht_main_contact')}}">Contact</a>
				      		</li>

							<!-- nav menu activation for sellers and users -->
				      		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

				      		<li class="nav-item {%if app.request.attributes.get('_route') == 'ht_main_user' %} active {% endif %}">
				        		<a class="nav-link" href="{{path('ht_main_user', {'id': app.user.id} )}}">Ma théière</a>
				      		</li>

					  		{% endif %}

		  				 	<li class="nav-item dropdown {% if app.request.attributes.get('_route') == 'ht_main_addSeller' or  app.request.attributes.get('_route') == 'ht_main_shop' or app.request.attributes.get('_route') == 'ht_main_shopList' %}  active {% endif %}">
		  		        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  		          			Boutiques
		  		        		</a>
		  		        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  		          			<a class="dropdown-item" href="{{ path('ht_main_shopList') }}">Listes des boutiques</a>

		  		          			{% if is_granted('ROLE_SELLER') %}

		  		          			<a class="dropdown-item" href="{% if app.user.shop == null %} {{path('ht_main_addSeller')}} {% else %} {{path( 'ht_main_shop', { 'id' : app.user.shop.id } ) }} {% endif %}">Ma boutique</a>

		  		          			{% endif %}
		  		        		</div>
		  		      		</li>
					  		{% if false == is_granted('IS_AUTHENTICATED_FULLY') %}
						</ul>

						<ul class="navbar-nav">

						<!-- nav dropdown Inscription -->

						 	<li class="nav-item dropdown {%if app.request.attributes.get('_route') == 'register' or  app.request.attributes.get('_route') == 'register_seller' %} active {% endif %}">
				        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          			Inscription
				        		</a>
				        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          			<a class="dropdown-item" href="{{ path('register') }}">Consommateur</a>
				          			<a class="dropdown-item" href="{{ path('register_seller') }}">Vendeur</a>
				        		</div>
				      		</li>

							<!-- nav Login / Logout -->

				      		<li class="nav-item {%if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
				        		<a class="nav-link" href="{{ path('login')}}">Login</a>
				      		</li>
				      		{% endif %}

				      		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

				      		<li class="nav-item">
				        		<a class="nav-link" href="{{ path('logout')}}">Logout</a>
				     		{% endif %}
				     		 </li>

				    	{% if ( is_granted('ROLE_ADMIN')) %}

				      		<li class="nav-item {%if app.request.attributes.get('_route') == 'ht_admin_homepage' %} active {% endif %}">
				      			<a class="nav-link" href="{{ path('ht_admin_homepage')}}">Admin</a>
				      	{% endif %}
				      		</li>
				    	</ul>
				    </div>
				</div>
			</nav>
		</header>


		{% block body %}

		{% endblock %}
			<a href="#top">
				<i class="fa fa-arrow-circle-up backToTop" aria-hidden="true"></i>
			</a>

			<footer id="footer" class="animated fadeIn">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<a class="navbar-brand k" href="{{path ('ht_main_sitemap')}}" >sitemap</a>
						<p class="m-0">HappyTea - un projet WF3 </p>
						<a href="https://twitter.com/happytea_m" target="_blank"><img src="{{ asset('img/icons/twitter.png')}}"  class="img-responsive animated flash" alt="icone twitter"></a>
					</div>
				</div>
			</footer>



		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
		<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
		<script>
		    AOS.init();
		</script>

		<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js') }}"></script>

		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
		<!-- or -->
		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

		<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-111482494-1','auto');ga('send','pageview');
		</script>

	</body>
</html>
